<div class="row">
  <!-- MAIN BLOCK -->
  <div class="columns large-8">
    <section class="row">
      <div class="columns large-12">
        <h3 class="mVBotL">Quem foi o seu Herói hoje? Conte para todos!</h3>
      </div>
    </section>

    <section class="row">
      <div class="columns large-12">
        <%= render 'user_reward_form' %>

        <h4>Timeline</h4>
        <%= render 'user_reward_card' %>
      </div><!-- end columns -->
    </section>
  </div>

  <!-- ASIDE -->
  <div class="columns large-4">

    <section class="row">
      <div class="columns large-12">
        <h3 class="mVBotL">Missões</h3>
      </div>
    </section>

    <aside class="row">
      <div class="columns large-12">
        <div class="postItem">

        </div>
      </div>
    </aside>
  </div>
</div>
