<div class="row">
  <div class="columns large-12">
    <h2>Ranking</h2>
      <table class="rwd-table">

        <tr class="tableHeader">
          <th></th>
          <th>Nome</th>
          <th>Pontos acumulados</th>
        </tr>
        <% @ranking.each do |user| %>
          <tr>
            <td data-th=""><%= user_avatar %></td>
            <td data-th="Nome:"><%= user.name %></td>
            <td data-th="Pontos:"><%= user.received_points %></td>

          </tr>
        <% end %>
      </table>
  </div>
</div>