/* VARIABLES */
/* colors */
$purple: #2E294E;
$darkPurple: #252140;
$white: #fff;
$yellow: #FFAE03;
$red: #EF5E60;
$green: #20BC62;

$lightGray: #F9F9F9;
$mediumGray: #DDDDDD;
$darkGray: #9C9CA5;
$darkerGray: #595457;

/* font */
$proxima: "proxima-soft", sans-serif;


/* MIXINS */
@mixin border-radius {
	border-radius: 3px;
}
@mixin transition {
	transition: all .3s ease-in-out;
}
@mixin box-shadow {
	box-shadow: 1px 0 5px rgba(0,0,0,.15);
}
@mixin box-shadow-cards {
	box-shadow: 0px 2px 5px rgba(0,0,0,.1);
}


/* GLOBAL RULES */
body { background-color: $lightGray!important; }
.floatRight { float: right; }
a, span, strong, p, h1, h2, h3, h4, h5, h6, input, textarea, button { font-family: $proxima!important; @include transition; }

h1, h2, h3 { font-weight: 600!important; color: $darkerGray!important; }

p { font-size: 18px!important; color: $darkerGray!important; }

svg { @include transition; }

.auth0-lock-header {
  background: black !important;
}

.auth0-lock-close-button {
  display: none;
}

.auth0-lock-overlay {
  background: $darkPurple !important;
  opacity: 1 !important;
}

/* BUTTONS */
.btn {
	padding: 8px 32px;
	@include border-radius;
	text-transform: uppercase;
	letter-spacing: 1px;
	font: 13px/2 $proxima;
	font-weight: 600;
	color: $white;
	min-height: 40px;

	&.right { float: right; }
	&.left { float: right; }
	&.center { display: table; margin: auto; }

	&.ghost {

		&.white {
			background-color: transparentize($white, .9);

			&:hover, &:active {
				color: $yellow;
				background-color: transparentize($white, .85);
			}
		}
	}

	&.filled {
		cursor: pointer;

		&.gray {
			background-color: $darkGray;
			cursor: not-allowed!important;
		}
		&.green {
			background-color: $green;

			&:hover, &:active {
				background-color: darken($green, 5%);
			}
		}
	}
}


/* SPACING */
/* Vertical */
.mVBotXs { margin-bottom: 4px; }
.mVBotS { margin-bottom: 8px; }
.mVBotM { margin-bottom: 16px; }
.mVBotL { margin-bottom: 24px; }
.mVBotXl { margin-bottom: 32px; }
.mVBotXxl { margin-bottom: 40px; }


/* HEADER */
header {
	background-color: $purple;
	padding: 8px 0;
	@include box-shadow;

	.logo {
		color: $white;
		text-transform: uppercase;
		font-weight: 100;
		font-size: 24px;
		line-height: 1.8;

		strong {
			font-weight: 900;
		}

		&:hover, &:active {
			color: $red;
		}
	}

	.walletWrapper {
		.walletPoints {
			color: $yellow;
			font-size: 18px;
			line-height: 2.2;
			font-weight: 300;
			padding-right: 8px;
			float: left;
			display: table;

			strong {
				font-weight: 900;
			}
		}
		a { display: table; }
	}

	.userAvatar {
		border-left: 1px solid $darkPurple;

		a {
			color: $white;
			font-size: 18px;
			line-height: 1.8;
			display: block;

			strong {
				padding: 8px;
				background-color: $darkPurple;
				@include border-radius;
				text-transform: uppercase;
				color: $white;
				font-weight: 600;
				font-size: 16px;
				line-height: 16px;
				min-width: 30px;
				margin-right: 8px;
				float: left;
			}

			&:hover {
				& strong { 
					background-color: $red;
				}
			}
		}		
	}	
}


/* FOOTER */
footer {
	background-color: $white;
	padding: 24px 0;
	border-top: 1px solid $mediumGray;

	span {
		color: $darkerGray;
		font-size: 15px;
		line-height: 1;
		display: block;
	}
	.madeWithLove {
		text-align: right;

		i {
			color: $red;
			font-style: normal;
		}
	}
}


/* MAIN CONTENT */
main {
	padding: 32px 0;
}

.postItem {
	@include border-radius;
	background-color: $white;
	padding: 24px;
	@include box-shadow-cards;
		
	textarea {
		border: none;
		font-size: 18px;
		line-height: 26px;
		box-shadow: none;
		height: auto;
		resize: none;
	    outline: none;
	    padding: 0;
    	margin-bottom: 0;

		&:focus, &:hover {
			border: none;
			box-shadow: none;
			color: $darkerGray;
		}
	}

	button.gray {
		
	}
	button.green {
		
	}
	
	.itemSelectWrapper {
		margin: 0;

		.itemSelect {
			list-style: none;
			float: left;
			padding-right: 8px;

			> span {
				padding: 8px;
				text-transform: uppercase;
				line-height: 1;
				font-size: 13px;
				font-weight: 600;
				letter-spacing: .5px;
				display: block;
				color: $purple;
				border: 1px solid $purple;
				@include border-radius;
				cursor: pointer;
				height: 32px;
				width: auto;
				min-width: 32px;				
			}			
			&.iPoints {
				
				&.active {
					span {
						background-color: $green;
						border-color: $green;
					}
				}
			}
			&.iPeople {
				span {
					float: left;
					margin-left: 4px;

					&:first-child {
						margin-left: 0;
					}
					&.addPeople {
						background-color: $white;

						svg {
							fill: $purple;
							height: 12px;
							width: auto;
							margin: auto;
							display: table;
						}
						&:hover {
							background-color: $purple;

							svg {
								fill: $white;	
							}							
						}
					}
				}
			}
			&.iPound {
				svg {
					width: 14px;
					height: auto;
					fill: $purple;
					float: left;
				}
				strong {
					text-transform: none;
					font-size: 16px;
					font-weight: 400;
					padding-left: 8px;
					line-height: .7;
				}
			}
			&:hover, &.active {
				span {
					background-color: $purple;
					color: $white;
				}
				svg {
					fill: $white;
				}
			}
		}
	}
	
	.availablePoints {
		text-align: right;
		color: $darkGray;
		font-size: 14px;
		line-height: 2.2;
		display: block;
	}
}