$white: #fff;
$purple: #2E294E;
$darkPurple: #252140;
$nameOrange: #FF5722;
$darkerGray: #595457;
$nameGray: #607D8B;

/* font */
$proxima: "proxima-soft", sans-serif;

.rwd-table {
  min-width: 300px;
  border-radius: 3px;
  box-shadow: 1px 2px 4px rgba(0,0,0,.1);
  border-spacing: 0!important;

  img {
    border-radius: 50%;
    width: 50px;
  }
  .userAvatar {
    width: 36px;
    text-align: center;

    span {
      padding: 8px;
      text-transform: uppercase;
      line-height: 1;
      font-size: 13px;
      font-weight: 600;
      letter-spacing: .5px;
      color: $white;
      background-color: $purple;
      border-radius: 3px;
      display: block;     
    }      
  }
  tr, th, td {
    border-top: none;
    border-bottom: none;
    padding: 16px!important;
  }
  th {
    font-family: $proxima;
    font-size: 14px;
    text-transform: uppercase;
    line-height: 1;
    letter-spacing: .5px;
    color: $purple!important;
    font-weight: 900;
  }
  td {
    font-family: $proxima;
    font-size: 17px;
    line-height: 1;
    font-weight: 600;
    color: $darkerGray;

    &:before {
      content: attr(data-th)"";
      font-weight: bold;

      width: 72px;
      display: inline-block;

      @media screen and (min-width: 40em) {
        display: none;
      }
    }
  }

  th, td {
    text-align: left;

    @media screen and (min-width: 40em) {
      display: table-cell;
      padding: .25em 8px;

      &:first-child {
        padding-left: 0;
      }

      &:last-child {
        padding-right: 0;
      }
    }

  }

  tbody th, tbody td {
  	padding-left: 0;
  }
}

.rwd-table {
  color: $darkerGray;
  overflow: hidden;

  @media screen and (min-width: 40em) {
    width: 80%;
  }

  tr {
  }

  th, td {
    //margin: 0 1em;
    @media screen and (min-width: 40em) {
      padding: 16px!important;
    }
  }

  th, td:before {
    color: $nameGray;
  }
}